.login-c{
    width: 35%;
    min-height: 500px;
    max-height: 600px;
    min-width: 350px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.login-form{
    position: absolute;
    height: 180px;
    width: 60%;
    top: 60%;
    left: 20%;
}

.signup-c{
    width: 35%;
    min-height: 700px;
    max-height: 700px;
    min-width: 350px;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.signup-form{
    position: absolute;
    height: 160px;
    width: 60%;
    top: 50%;
    left: 20%;
}

.panda-logo{
    position: absolute;
    width: 170px;
    height: 100%;
    top: 100px;
    z-index: 0;
}

.p-head{
    display: inline-block;
    position: absolute;
    width: 120%;
}

.pauseanimation{
    animation-play-state: paused;
}

.animateheadIn{
    animation-name: FocusOnFormControlHead;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
}

@keyframes FocusOnFormControlHead{
    50%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.pupil{
    display: inline-block;
    position: relative;
    width: 8%;
    height: 3%;
    background-color: black;
    border-radius: 50%;

}

.pupil-l{
    display: inline-block;
    position: relative;
    left: 155px;
    top: 67px;
    z-index: 1;
}

.pupil-r{
    display: inline-block;
    position: relative;
    left: 65px;
    top: 76px;
    z-index: 1;
    
}

.logo{
    position: relative;
    width: 90%;
    top: 25px;
}

.loginsubmitbtn{
    position: absolute;
    left: 100%;
    top: 55%;
    width: 60px;
}

.signupsubmitbtn{
    position: absolute;
    left: 100%;
    top: 150%;
    width: 60px;
}

.signupbtn{
    position: absolute;
    left: -32%;
    top: 85%;
}

.loginbtn{
    position: absolute;
    left: -32%;
    top: 190%;
}

h4{
    position: absolute;
    color: red;
    top: 92%;
}